<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WonnyTopper</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,300;1,900&family=Noto+Sans+KR&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/user/assets/css/common.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
</head>

<body>
    <div class="wrap">
        <header class="gnb">
            <div class="gnb_content">
                <img src="/user/assets/images/header_logo.jpeg" alt="" onclick="location.href='/index'">

                <ul class="gnb_menu">
                    <li><a href=/balloon>풍선장식</a></li>
                    <li><a href=/topper>토퍼</a></li>
                    <li><a href=/pierrot>삐에로/페이스페인팅</a></li>
                    <li><a href=/class>원데이클래스</a></li>
                    <li><a href=/qna>상담문의</a></li>
                </ul>
            </div>
        </header>
        <div class="container">
            <div class="qna_banner_area">
                <div class="wrap_banner_txt">
                    <p class="qna_banner_title">토퍼 제작</p>
                    <p class="qna_banner_sub_title"> 한국 커스텀 토퍼협회 전문가가 직접<br>
                        기업단체토퍼 및 개인토퍼를 디자인 및 제작해드립니다</p>
                </div>
            </div>

            <div class="category_gallery_content">
                <ul class="topper_category_list">

                </ul>
            </div>
        </div>

        <!--상세 POPUP-->
        <div class="popup_wrap hidden">
            <div class="popup_container">
                <div class="popup_content">
                    <div class="popup_header_content">
                        <div class="popup_title">Title</div>
                        <button class="icon_close close_btn"></button>
                    </div>
                    <div class="popup_body_content">
                        <div class="swiper mySwiper popup_swiper_area">
                            <div class="swiper-wrapper popup_images_list">

                            </div>

                            <!-- <div class="swiper-pagination"></div> -->
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- //상세 POPUP-->
    </div>
    <script src="/user/assets/js/swiper.js"></script>
    <script src="/user/assets/js/common.js"></script>
</body>

</html>