<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="이벤트 케이크토퍼 꽃풍선 파티 풍선" />
  <meta name="author" content="mars-sequel" />

  <title>워니토퍼 관리자 - 상담문의 관리</title>

  <!-- Custom fonts for this template -->
  <link href="/admin/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css" />
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet" />

  <!-- Styles for this page -->
  <link href="/admin/assets/css/sb-admin-2.min.css" rel="stylesheet" />
  <link href="/admin/assets/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" />

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" />
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

  <!-- CSS -->
  <link rel="stylesheet" href="/admin/assets/css/style.css" />

</head>

<body id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar"></ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">
        <!-- Topbar -->
        <nav id="top-bar" class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"></nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">
          <!-- Page Heading -->
          <div class="border-bottom-primary mb-4">
            <div class="main-title">
              <h1 class="mb-2 text-gray-800">상담문의 관리</h1>
            </div>
            <h6 class="page-adress">게시판 관리 > 상담문의 관리</h6>
          </div>

          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">
                검색 필터
              </h6>

              <!-- 검색창 패널 -->
              <section class="panel search-panel mb-xs">
                <div class="panel-body search-panel-body">
                  <form class="form-horizontal form-bordered">
                    <div class="form-group">
                      <label class="col-md-2 filter-label">등록일</label>

                      <div class="col-md-6 filter-inputs">
                        <div class="input-daterange input-group date-pick" data-plugin-datepicker
                          data-plugin-options='{"format": "yyyy-mm-dd"}'>
                          <input type="text" class="form-control daterange" id="from-date" name="start"
                            autocomplete="off" />
                          <span class="input-group-addon">
                            <i class="fa fa-calendar calender-icon"></i>
                          </span>
                          <span class="input-group-addon tx-icon">
                            ~
                          </span>
                          <input type="text" class="form-control daterange" id="to-date" name="end"
                            autocomplete="off" />
                          <span class="input-group-addon">
                            <i class="fa fa-calendar calender-icon"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-md-2 filter-label">의뢰목적</label>

                      <div class="col-md-9 filter-inputs">
                        <div class="filter-purpose">
                          <label class="ckbox-inline">
                            <input type="checkbox" id="checkAll" name="ckall" checked />
                            전체
                          </label>
                          <label class="ckbox-inline">
                            <input type="checkbox" checked class="ck purpose" value="1" />
                            풍선 장식
                          </label>
                          <label class="ckbox-inline">
                            <input type="checkbox" checked class="ck purpose" value="2" />
                            토퍼
                          </label>
                          <label class="ckbox-inline">
                            <input type="checkbox" checked class="ck purpose" value="3" />
                            부스체험(토퍼, 풍선)
                          </label>
                          <label class="ckbox-inline">
                            <input type="checkbox" checked class="ck purpose" value="4" />
                            삐에로
                          </label>
                          <label class="ckbox-inline">
                            <input type="checkbox" checked class="ck purpose" value="5" />
                            페이스페인팅
                          </label>
                          <label class="ckbox-inline">
                            <input type="checkbox" checked class="ck purpose" value="6" />
                            클래스
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-md-2 filter-label">답변여부</label>

                      <div class="col-md-9 filter-inputs">
                        <div class="filter-answer">
                          <label class="ckbox-inline">
                            <input type="radio" name="answer_yn" value="all" checked> 전체
                          </label>
                          <label class="ckbox-inline">
                            <input type="radio" name="answer_yn" value="Y">
                            Y
                          </label>
                          <label class="ckbox-inline">
                            <input type="radio" name="answer_yn" value="N">
                            N
                          </label>

                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-md-2 filter-label">검색어</label>
                      <div class="col-sm-8 search-input filter-inputs">
                        <input type="text" id="keyword" class="form-control" />
                      </div>
                    </div>
                  </form>
                </div>
              </section>
              <!--// 검색창 패널 -->

              <div class="btn-area float-right">
                <a href="#" class="btn btn btn-block" onclick="onClickSearch()">
                  검색
                </a>
              </div>
            </div>

            <div class="card-body">
              <div class="table-responsive">
                <div class="admin-btn-tool tx-align-left">
                  <div class="tool-select ib">
                    <select id="orderSelect" class="form-control" name="orderSelect">
                      <option value="DESC">등록일 ↓</option>
                      <option value="ASC">등록일 ↑</option>
                    </select>
                  </div>
                </div>
                <table class="table table-bordered content-table" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>
                        NO
                      </th>
                      <th>이름</th>
                      <th>휴대폰번호</th>
                      <th>의뢰목적</th>
                      <th>상담내용</th>
                      <th>답변여부</th>
                      <th>답변 등록일</th>
                      <th>등록일</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
                <div class="row">
                  <div class="col-sm-12 col-md-5">
                    <div id="list_info"></div>
                  </div>
                  <div class="col-sm-12 col-md-7"></div>
                </div>
                <div id="paginationContainer">
                  <ul class="pagination">
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2020</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
  </div>
  <!-- End of Page Wrapper -->

  <!-- 상담 상세 모달-->
  <div class="modal fade consult-modal-dialog" id="consultDetailModal" data-backdrop="static" tabindex="-1"
    role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">답변 상세보기</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <table class="detail table table-bordered">
            <tr>
              <td width="20%" class="table-title-td">이름</td>
              <td width="30%" id="counsel-name">
                홍길동
              </td>
              <td width="20%" class="table-title-td">등록일</td>
              <td width="30%" id="counsel-reg-date">
              </td>
            </tr>
            <tr>
              <td width="20%" class="table-title-td">휴대폰번호</td>
              <td width="30%" id="counsel-phone">

              </td>
              <td width="20%" class="table-title-td">이메일</td>
              <td width="30%" id="counsel-email">

              </td>
            </tr>

            <tr>
              <td width="20%" class="table-title-td">장소</td>
              <td width="30%" id="counsel-location">

              </td>
              <td width="20%" class="table-title-td">예산</td>
              </td>
              <td width="30%" id="counsel-budget">
              </td>
            </tr>

            <tr>
              <td width="20%" class="table-title-td">의뢰목적</td>
              <td width="80%" id="counsel-purpose" colspan="3">
              </td>
            </tr>
            <tr>
              <td width="20%" class="table-title-td">관련컨텐츠</td>
              <td id="counsel-relate-img-td" class="align-c reqanswer-img-td"">
                <!--<div id="counsel-relate-img" class="counsel-relate-img"></div>-->
                <img src="/user/assets/images/banner.jpg" class="counsel-relate-img" id="counsel-relate-img">
              </td>
              <td colspan="2" id="counsel-relate-content-td">
                <div id="counsel-relate-content" class="counsel-relate-content"></div>
              </td>
              <td id="counsel-nodata" colspan="3">-</td>     
            <tr style="vertical-align: middle;">
              <td width="20%" class="table-title-td">상담내용</td>
              <td width="80%" colspan="3">
                <div class="tx-area" id="counsel-counsel">
                </div>
              </td>
            </tr>

          </table>
          <hr />
          <table class="detail table table-bordered">
            <div class="pb-1 float-right"><span class="star">*</span>는 필수 입력값</div>
            <tr>
              <td width="20%" class="table-title-td">답변
              </td>
              <td width="80%" colspan="2">
                <div class="tx-area" id="counsel-answer">
                </div>
              </td>
            </tr>
            <tr>
              <td width="20%" class="table-title-td">첨부파일
              </td>
              <td width="80%" colspan="2" id="counsel-file">

              </td>
            </tr>
            <tr>
              <td width="20%" class="table-title-td">답변 등록일
              </td>
              <td width="80%" colspan="2" id="counsel-answer-reg-date">

              </td>
            </tr>
          </table>
        </div>
        <div class="detail-modal-footer">
          <a class="btn btn-primary btn-100" data-dismiss="modal">확인</a>
        </div>
      </div>
    </div>
  </div>
  <!-- //상담 상세 모달  -->
  <!-- 답변 등록 모달 -->
  <div class="modal fade consult-modal-dialog" id="consultModal" tabindex="-1" role="dialog" data-backdrop="static"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">답변 작성하기</h5>
          <button class="close consult" type="button" data-dismiss="modal">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/admin/source" method="post" enctype="multipart/form-data">
            <table class="table table-bordered">
              <tr>
                <td width="20%" class="table-title-td">이름</td>
                <td width="30%" id="reqanswer-name">
                  홍길동
                </td>
                <td width="20%" class="table-title-td">등록일</td>
                <td width="30%" id="reqanswer-reg-date">
                </td>
              </tr>
              <tr>
                <td width="20%" class="table-title-td">휴대폰번호</td>
                <td width="30%" id="reqanswer-phone">
                </td>
                <td width="20%" class="table-title-td">이메일</td>
                <td width="30%" id="reqanswer-email">
                </td>
              </tr>
              <tr>
                <td width="20%" class="table-title-td">장소</td>
                <td width="30%" id="reqanswer-location">
                </td>
                <td width="20%" class="table-title-td">예산</td>
                </td>
                <td width="30%" id="reqanswer-budget">
                </td>
              </tr>

              <tr>
                <td width="20%" class="table-title-td">의뢰목적</td>
                <td width="80%" colspan="3" id="reqanswer-purpose">
                </td>
              </tr>
              <tr>
                <td width="20%" class="table-title-td">관련컨텐츠</td>
                <td id="reqanswer-relate-img-td"  class="align-c relate-img td">
                  <!--<div id="reqanswer-relate-img" class="reqanswer-relate-img"></div>-->
                  <img src="/user/assets/images/banner.jpg" class="counsel-relate-img" id="reqanswer-relate-img">
                </td>
                <td colspan="2" id="reqanswer-relate-content-td">
                  <div id="reqanswer-relate-content" class="reqanswer-relate-content"></div>
                </td>
                <td id="reqanswer-nodata" colspan="3">-</td>         
              </tr>
              <tr>
                <td width="20%" class="table-title-td">상담내용</td>
                <td width="80%" colspan="3">
                  <div class="tx-area" id="reqanswer-counsel">
                  </div>
                </td>
              </tr>

            </table>
            <hr />
            <table class="table table-bordered">
              <div class="pb-1 float-right"><span class="star">*</span>는 필수 입력값</div>
              <tr>
                <td width="20%" class="table-title-td">답변
                  <span class="star">*</span>
                </td>
                <td width="80%" colspan="2">
                  <textarea class="form-control answer-text-area" id="reqanswer-answer"></textarea>
                </td>
              </tr>
              <tr>
                <td width="20%" class="table-title-td">첨부파일
                </td>
                <td width="80%" colspan="2">
                  <label for="file1" class="file-input-label">파일 선택</label>
                  <input type="file" accept=".jpg, .png" id="file1" class="file-input" name="productImgArr[]"
                    onchange="uploadFile()" required />
                  <span id="fileName" class="file-name"></span>
                  <a id="cancelButton" class="cancel-btn" style="display: none;">X</a>
                </td>
              </tr>
            </table>
          </form>
        </div>
        <div class="answer detail-modal-footer">

          <a class="btn btn-primary btn-100" onClick="onClickConsultModal(event)">확인</a>
        </div>
      </div>
    </div>
  </div>
  <!-- // 답변 등록 모달-->
  <!-- 답변 등록 확인 모달 -->
  <div class="modal fade consult-modal-dialog" id="consultConfirmModal" tabindex="-1" role="dialog"
    data-backdrop="static" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">답변 상세보기</h5>
          <button class="close confirm" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <table class="detail table table-bordered">
            <tr>
              <td width="20%" class="table-title-td">이름</td>
              <td width="30%" id="confirm-answer-name">
              </td>
              <td width="20%" class="table-title-td">등록일</td>
              <td width="30%" id="confirm-answer-reg-date">

            </tr>
            <tr>
              <td width="20%" class="table-title-td">휴대폰번호</td>
              <td width="30%" id="confirm-answer-phone">
              </td>
              <td width="20%" class="table-title-td">이메일</td>
              <td width="30%" id="confirm-answer-email">
              </td>
            </tr>
            <tr>
              <td width="20%" class="table-title-td">장소</td>
              <td width="30%" id="confirm-answer-location">
              </td>
              <td width="20%" class="table-title-td">예산</td>
              </td>
              <td width="30%" id="confirm-answer-budget">
              </td>
            </tr>
            <tr>
              <td width="20%" class="table-title-td">의뢰목적</td>
              <td width="30%" colspan="3" id="confirm-answer-purpose">
              </td>
            </tr>
            <tr>
              <td width="20%" class="table-title-td">관련컨텐츠</td>
              <td id="confirm-answer-relate-img-td" class="align-c ">
                <!--<div id="confirm-answer-relate-img" class="confirm-answer-relate-img"></div>-->
                <img src="/user/assets/images/banner.jpg" id="confirm-answer-relate-img" class="counsel-relate-img">
              </td>
              <td colspan="2" id="confirm-answer-relate-content-td">
                <div id="confirm-answer-relate-content" class="confirm-answer-relate-content"></div>
              </td>
              <td id="confirm-answer-nodata" colspan="3">-</td>
            </tr>
            <tr style="vertical-align: middle;">
              <td width="20%" class="table-title-td">상담내용</td>
              <td width="80%" colspan="3">
                <div class="tx-area" id="confirm-answer-counsel">
                </div>
              </td>
            </tr>

          </table>
          <hr />
          <table class="detail table table-bordered">
            <div class="pb-1 float-right"><span class="star">*</span>는 필수 입력값</div>
            <tr>
              <td width="20%" class="table-title-td">답변
              </td>
              <td width="80%" colspan="2">
                <div class="tx-area" id="confirm-answer-answer">
                </div>
              </td>
            </tr>
            <tr>
              <td width="20%" class="table-title-td">첨부파일
              </td>
              <td width="80%" colspan="2" id="confirm-answer-file">
              </td>
            </tr>
          </table>
        </div>
        <div class="detail-modal-footer">
          <a class="btn btn-primary btn-100 mr-3" onclick="onClickEdit()">수정</a>
          <a class="btn btn-primary btn-100" onclick="registerAnswer()">전송</a>
        </div>
      </div>
    </div>
  </div>

  <!-- // 답변 등록 모달-->
  <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
  <script src="/admin/assets/js/common.js"></script>
  <script>
    let DT = null;
    let counsel_id = "";
    let confirmAnswer = "";
    //api 호출 완료시 삭제 필요 
    let file_id = null;
    let editing = false;
    let confirmFileName = "";
    //document.getElementById('reqanswer-answer').value
    //document.getElementById('file1').value

    //페이지네이션 
    let currentListCount = 0;
    let page = 1;
    let allDataCount = 0;
    const rangeSize = 5;
    const pageSize = 10;
    let curDataCount = 0;
    let startIndex = 1;

    //검색
    let from_date = null;
    let to_date = null;
    let search_word = "";
    let purpose = [1, 2, 3, 4, 5, 6];
    let sort = "DESC";
    let answer_yn = ['N', 'Y'];

    window.onload = () => {
      $('#from-date, #to-date').datepicker({
        format: 'yyyy-mm-dd',
        autoclose: true,
        todayHighlight: true,
        placement: 'bottom',
        orientation: 'auto bottom',
        defaultDate: new Date(),
        onSelect: function (dateStr, datepicker) {
          const startDate = new Date($('#from-date').val());
          const endDate = new Date($('#to-date').val());
          if (endDate < startDate) {
            $('#to-date').val(dateStr);
          }
        },
      });

      const today = dayjs();
      const formattedDate = today.format('YYYY-MM-DD');
      $('#from-date, #to-date').datepicker('setDate', formattedDate);
    }

    $(document).ready(function () {
      const lang = {
        decimal: '',
        emptyTable: '데이터가 없습니다.',
        thousands: ',',
        zeroRecords: '검색된 데이터가 없습니다.',
      }

      DT = $('#dataTable').DataTable({
        info: false,
        language: lang,
        bFilter: false,
        ordering: false,
        lengthChange: false,
        paginate: false,
        columns: [
          { width: '10px' },
          { width: '10%' },
          { width: '10%' },
          { width: '10%' },
          null,
          { width: '10%' },
          { width: '20%' },
          { width: '20%' },
        ],
      });
      showListData();

      $('#dataTable tbody').on('click', '.content-list', function () {
        counsel_id = $(this).data('counsel-id');
        showCounselData();
      });

    })

    $('#orderSelect').on('change', function () {
      sort = $(this).val();
      showListData();
    });

    $('#checkAll').change(function () {
      $('.ck').prop('checked', $(this).prop('checked'));
    });

    $('.ck').change(function () {
      if ($('.ck:checked').length === $('.ck').length) {
        $('#checkAll').prop('checked', true);
      } else {
        $('#checkAll').prop('checked', false);
      }
    });

    const onClickSearch = () => {
      const checkboxes = document.querySelectorAll('.filter-purpose input[type="checkbox"]:checked:not(#checkAll)');
      purpose = [];
      checkboxes.forEach(function (checkbox) {
        purpose.push(parseInt(checkbox.value));
      });
      const answer_yn_radio = document.querySelector('input[name="answer_yn"]:checked').value;
      answer_yn = answer_yn_radio == 'all' ? ["Y", "N"] : [answer_yn_radio];
      search_word = document.getElementById('keyword').value;
      from_date = document.getElementById('from-date').value;
      to_date = document.getElementById('to-date').value;

      sort = "DESC";
      page = 1;
      showListData();
    }

    //리스트 조회 
    const showListData = async () => {
      const raw = JSON.stringify({
        from_date,
        to_date,
        purpose,
        search_word,
        sort,
        page,
        pageSize,
        answer_yn
      });

      const requestOptions = {
        method: 'POST',
        headers: myHeaders,
        body: raw,
        redirect: 'follow'
      };

      try {
        const response = await fetch(`/counsel/select`, requestOptions);
        const { code, message, data } = await response.json();
        if (code === 200) {
          DT.clear().draw();

          startIndex = ((page - 1) * pageSize) + 1;
          let curDataCount = 0;
          data.counsel.forEach(function (row, i) {
            ++curDataCount;

            const tr = DT.row.add([
              i + startIndex,
              row.name,
              formatPhone(row.phone_num),
              purposeDecode(row.purpose),
              row.detail,
              row.answer_yn,
              row.answer_date ? dayjs(row.answer_date).format(
                "YYYY-MM-DD") : "-",
              dayjs(row.reg_date).format(
                "YYYY-MM-DD"
              ),
            ]).node();

            $(tr).attr('data-counsel-id', row.counsel_id);
            $(tr).addClass('content-list');
            // $(tr).attr('href', '#');
            $(tr).attr('data-toggle', 'modal');
            if (row.answer_yn === 'Y') {
              $(tr).attr('data-target', '#consultDetailModal');
            } else if (row.answer_yn === 'N') {
              $(tr).attr('data-target', '#consultModal');
            }

            DT.draw(false);

          });
          allDataCount = data.count;
          paginate(curDataCount);

          const listInfoContainer = document.getElementById('list_info');
          listInfoContainer.innerHTML = `Showing ${startIndex} to ${startIndex + curDataCount - 1} of ${allDataCount} entriess`;

          return;
        }
      } catch (err) {
        console.log('Err:', err);
      }
    }

    const changePage = (i) => {
      page = (i > 0) ? i : ((i > -1) ? page + 1 : page + i);
      showListData();
    }

    const paginate = (curDataCount) => {
      pageCount = Math.ceil(allDataCount * 1.0 / pageSize);
      rangeCount = Math.ceil(pageCount * 1.0 / rangeSize);
      curRange = Math.floor((page - 1) / rangeSize) + 1;
      startPage = (curRange - 1) * rangeSize + 1;
      endPage = startPage + rangeSize - 1;

      if (endPage > pageCount) {
        endPage = pageCount;
      }

      const paginationContainer = document.querySelector('#paginationContainer ul.pagination');
      let paginationHTML = '';
      for (let i = startPage; i <= endPage; i++) {
        let pageItemClass = 'paginate_button page-item';
        if (i === page) {
          pageItemClass += ' active';
        }
        paginationHTML += `<li class="${pageItemClass}"><a href="#" class="page-link" onclick="changePage(${i})">${i}</a></li>`;
      }

      let prevPageLinkHTML = `
      <li class="paginate_button page-item previous ${page === 1 ? 'disabled' : ''}" id="dataTable_previous">
        <a href="#" onclick="changePage(-1)"  class="page-link" >
          <i class="fa fa-chevron-left"></i>
        </a>
      </li>
    `;
      let nextPageLinkHTML = `
      <li class="paginate_button page-item next ${page === pageCount ? 'disabled' : ''}" id="dataTable_next">
        <a href="#" onclick="changePage(0)" class="page-link">
          <i class="fa fa-chevron-right"></i>
        </a>
      </li>
    `;
      paginationContainer.innerHTML = prevPageLinkHTML + paginationHTML + nextPageLinkHTML;
    }


    $('.modal .close.consult').click(function () {
      if (confirm('답변 작성을 취소하시겠습니까?')) {
        resetModal("newAnswer");
        resetModal("delFile");
        $('.modal').modal('hide');
      } else {
        return false;
      }
    });

    $('.modal .close.confirm').click(function () {
      if (confirm('입력된 내용이 전부 삭제됩니다. 진행하시겠습니까?')) {
        editing = false;
        resetModal("newAnswer");
        resetModal("delFile");
        $('.modal').modal('hide');
      } else {
        return false;
      }
    });


    //모달 상세 출력
    const setData = (prefix, data) => {
      document.getElementById(`${prefix}-name`).innerHTML = data.name;
      document.getElementById(`${prefix}-phone`).innerHTML = formatPhone(data.phone_num);
      document.getElementById(`${prefix}-email`).innerHTML = data.email;
      document.getElementById(`${prefix}-location`).innerHTML = data.location;
      document.getElementById(`${prefix}-budget`).innerHTML = data.budget + "만원";
      document.getElementById(`${prefix}-purpose`).innerHTML = purposeDecode(data.purpose);
      document.getElementById(`${prefix}-counsel`).innerHTML = data.detail;
      document.getElementById(`${prefix}-reg-date`).innerHTML = dayjs(data.reg_date).format('YYYY-MM-DD HH:mm:ss');
      if (data.counsel_file_url != null) {
        document.getElementById(`${prefix}-nodata`).style.display='none';
        var modifiedLink = data.counsel_file_url.replace(/src\\public\\uploads\\/g, "/img/uploads/"); //src/public/uploads/file-1687959218098.png ->  /img/uploads/file-1687966468886.png 
        document.getElementById(`${prefix}-relate-img`).src = modifiedLink;
        document.getElementById(`${prefix}-relate-content-td`).style.display = 'table-cell';
        document.getElementById(`${prefix}-relate-content`).innerHTML = data.content_title;
       document.getElementById(`${prefix}-relate-img-td`).style.display = 'table-cell';
        document.getElementById(`${prefix}-relate-img`).style.display = 'inline-block';       
       // document.getElementById(`${prefix}-relate-content`).style.minHeight = '150px';
      } else {
        document.getElementById(`${prefix}-nodata`).style.display='table-cell';
        document.getElementById(`${prefix}-relate-img-td`).style.display = 'none';
        document.getElementById(`${prefix}-relate-content-td`).style.display = 'none';
        document.getElementById(`${prefix}-relate-content`).innerHTML = "-";
       document.getElementById(`${prefix}-relate-img`).style.display = 'none';
        //document.getElementById(`${prefix}-relate-content`).style.minHeight = 'unset';
      }
    };

    const resetModal = (mode) => {
      switch (mode) {
        case 'newAnswer':
          document.getElementById('reqanswer-answer').value = "";
          break;
        case 'delFile':
          file_id = null;
          const fileInput = document.getElementById("file1");
          fileInput.value = "";
          fileButtonStyle(fileInput);
          confirmFileName = "";
          break;
      }
    }

    //답변 모달 상세
    const showCounselData = async () => {
      var requestOptions = {
        method: 'GET',
        headers: myHeaders,
        redirect: 'follow'
      };
      try {
        const response = await fetch("/counsel/select/" + counsel_id, requestOptions);
        const { code, message, data } = await response.json();
        if (code === 200) {
          if (data[0].answer_yn == 'Y') { //답변 등록 된 경우 
            setData('counsel', data[0]);
            document.getElementById('counsel-answer').innerHTML = data[0].answer_detail;
            document.getElementById('counsel-file').innerHTML = data[0].answer_file_origin_name !== null ? data[0].answer_file_origin_name : "-";
            document.getElementById('counsel-answer-reg-date').innerHTML = dayjs(data[0].answer_date).format('YYYY-MM-DD HH:mm:ss');

          } else if (data[0].answer_yn == 'N') { //답변 안된 경우   
            if (editing === true) { // 확인 모달 시작
              setData('confirm-answer', data[0]);
              document.getElementById('confirm-answer-answer').innerHTML = confirmAnswer;
              document.getElementById('confirm-answer-file').innerHTML = confirmFileName.trim() === "" ? "-" : `${confirmFileName}`;
            } else {
              setData('reqanswer', data[0]);
            }

          }
        }
      } catch (err) {
        console.log("Err:", err);
      }
    }

    //파일 삭제
    const deletePreviousFile = async (fileId) => {
      const raw = JSON.stringify({
        file_id
      });

      const requestOptions = {
        method: 'POST',
        headers: myHeaders,
        body: raw,
        redirect: 'follow'
      };

      try {
        const response = await fetch(`/upload/deleteFile`, requestOptions);
        const { code, message } = await response.json();
        if (code === 200) {
          resetModal("delFile");
        } else {
        }
      } catch (err) {
        console.log("Err:", err);
      }
    };

    //파일 등록
    const uploadFile = async () => {
      const fileInput = document.getElementById("file1");
      const file = fileInput.files[0];
      if (file) {
        const fileSizeInBytes = file.size;
        const fileSizeInMB = fileSizeInBytes / (1024 * 1024); // 바이트를 메가바이트로 변환
        const maxSizeInMB = 3;
        if (fileSizeInMB > maxSizeInMB) {
          alert('파일 크기가 3MB를 초과하였습니다.');
          fileInput.value = '';
          return
        }
      }

      if (file_id) {
        await deletePreviousFile(file_id);
      }
      fileButtonStyle(fileInput)

      const formData = new FormData();
      formData.append("file", file);

      const requestOptions = {
        method: 'POST',
        body: formData,
        redirect: 'follow'
      };

      try {
        const response = await fetch(`/upload`, requestOptions);
        const { code, message, data } = await response.json();
        if (code === 200) {
          file_id = data.file_id;
          confirmFileName = file.name;
        }
      } catch (err) {
        console.log('Err:', err);
      }
    }

    const fileButtonStyle = (fileInput) => {
      const fileNameElement = document.getElementsByClassName("file-name");
      const cancelButton = document.getElementsByClassName("cancel-btn");
      if (fileInput.files.length > 0) {
        const fileName = fileInput.files[0].name;
        fileNameElement[0].textContent = fileName;
        fileNameElement[0].style.display = "inline";
        cancelButton[0].style.display = "inline-block";
      } else {
        fileNameElement[0].style.display = "none";
        cancelButton[0].style.display = "none";
      }

      cancelButton[0].addEventListener("click", function () {
        fileInput.value = "";
        fileNameElement[0].textContent = "";
        cancelButton[0].style.display = "none";
        resetModal("delFile");
      });
    }


    const onClickConsultModal = () => {
      confirmAnswer = document.getElementById('reqanswer-answer').value;
      if (!validInput(confirmAnswer, regexDetail, "필수값을 입력해주세요.\n 국/영문, 숫자, 특수문자 10~1,000자")) {
        return
      };

      $('#consultModal').modal('hide');
      editing = true;

      $('#consultConfirmModal').modal('show');
      showCounselData();

    }

    const onClickEdit = () => {
      $('#consultConfirmModal').modal('hide');
      editing = false;
      $('#consultModal').modal('show');
      showCounselData();
    }
    //답변 등록
    const registerAnswer = async () => {
      const result = window.confirm("답변을 전송하시겠습니까?");
      if (result) {
        const raw = JSON.stringify({
          counsel_id,
          "detail": confirmAnswer,
          file_id,
          "email": document.getElementById('reqanswer-email').innerHTML
        });
        // NOTE CHECK : document.getElementById('reqanswer-email').innerHTML,
        const requestOptions = {
          method: 'POST',
          headers: myHeaders,
          body: raw,
          redirect: 'follow'
        };

        try {
          const response = await fetch(`/counsel/insertAnswer`, requestOptions);
          const { code, message } = await response.json();
          if (code === 200) {
            alert("전송이 완료되었습니다.");
            $('#consultModal').modal('hide');
            $('#consultConfirmModal').modal('hide');
            resetModal("newAnswer");
            resetModal("delFile");
            editing = false;
          } else {
            alert("저장 실패");
          }
        } catch (err) {
          alert("저장 실패");
          console.log('Err:', err);
        }
      }
    }

  </script>

  <!-- Bootstrap core JavaScript-->
  <script src="/admin/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/admin/assets/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/admin/assets/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="/admin/assets/vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="/admin/assets/vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="/admin/assets/js/demo/datatables-demo.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.7/dayjs.min.js"></script>

</body>

</html>