<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="이벤트 케이크토퍼 꽃풍선 파티 풍선" />
  <meta name="author" content="mars-sequel" />

  <title>워니토퍼 관리자 - 컨텐츠 상세</title>

  <!-- Custom fonts for this template -->
  <link href="/admin/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css" />
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet" />

  <!-- Styles for this page -->
  <link href="/admin/assets/css/sb-admin-2.min.css" rel="stylesheet" />
  <link href="/admin/assets/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" />

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" />
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

  <!-- CSS -->
  <link rel="stylesheet" href="/admin/assets/css/style.css" />

</head>

<body id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordion_sidebar"></ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">
        <!-- Topbar -->
        <nav id="top_bar" class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"></nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">
          <!-- Page Heading -->
          <div class="border-bottom-primary mb-4">
            <div class="main-title">
              <h1 class="mb-2 text-gray-800">컨텐츠 상세</h1>
            </div>
            <h6 class="page-adress">
              컨텐츠 관리 > 컨텐츠 관리 > 컨텐츠 상세
            </h6>
          </div>

          <!-- Page Heading -->

          <section role="main" class="content-body detail-content-body">
            <form action="/admin/source" method="post" enctype="multipart/form-data">
              <h6 class="float-right">
                <span class="star">*</span>
                는 필수 입력값
              </h6>
              <input name="content_id" id="content_id" class="hidden" readonly />
              <h4 class="register-sub-title">■ 컨텐츠 기본정보</h4>
              <table class="detail table">
                <tr>
                  <td width="20%" class="table-title-td">
                    카테고리<span class="star">*</span>
                  </td>
                  <td width="30%">
                    <input name="category" id="category" disabled />
                  </td>
                  <td width="20%" class="table-title-td">
                    노출여부<span class="star">*</span>
                  </td>
                  <td width="30%">
                    <div class="col-md-9 filter-inputs">
                      <div class="filter-answer">
                        <label class="radio-button-filter">
                          <input type="radio" class="rb exposure y" name="exposure_yn" value="Y" disabled>
                          노출
                        </label>
                        <label class="radio-button-filter">
                          <input type="radio" class="rb exposure n" name="exposure_yn" value="N" disabled>
                          비노출
                        </label>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td width="20%" class="table-title-td">
                    제목<span class="star">*</span>
                  </td>
                  <td width="30%" colspan="3">
                    <input type="text" class="form-control" value="제목" disabled name="title" id="title" required />
                  </td>
                </tr>

                <tr>
                  <td width="20%" class="table-title-td">등록일<span class="star">*</span></td>
                  <td width="30%" id="reg_date"></td>
                  <td width="20%" class="table-title-td">수정일</td>
                  <td width="30%" id="mod_date"></td>
                </tr>
              </table>

              <h4 class="register-sub-title">■ 이미지 등록</h4>
              <table class="detail table table-bordered">
                <tr>
                  <td width="20%" class="table-title-td">
                    대표 이미지<span class="star">*</span>
                    <div>(최대 1개)</div>
                  </td>
                  <td width="40%" colspan="2" id="file_main_url"></td>
                </tr>
                <tr>
                  <td width="20%" rowspan="4" class="table-title-td">
                    추가 이미지
                    <div>(최대 4개)</div>
                  </td>
                  <td width="5%" class="align-c">1</td>
                  <td width="95%" id="file_1_url"></td>
                </tr>
                <tr>
                  <td width="5%" class="align-c">2</td>
                  <td width="95%" id="file_2_url"></td>
                </tr>
                <tr>
                  <td width="5%" class="align-c">3</td>
                  <td width="95%" id="file_3_url"></td>
                </tr>
                <tr>
                  <td width="5%" class="align-c">4</td>
                  <td width="95%" id="file_4_url"></td>
                </tr>
              </table>

              <h4 class="register-sub-title">■ 기타 정보</h4>
              <table class="detail table table-bordered">
                <tr>
                  <td width="20%" class="table-title-td">비고</td>
                  <td width="80%" colspan="2">
                    <textarea class="form-control" disabled id="note"></textarea>
                  </td>
                </tr>
              </table>

              <div class="col-md-3 admin-btn-tool ib detail-bottom-btn"></div>

              <div class="admin-btn-tool ib detail-bottom-btn">
                <button type="button" id="to_board_btn" class="btn btn-primary btn-100">
                  목록
                </button>
                <button type="button" id="update_btn" class="btn btn-primary btn-100 float-right">
                  수정
                </button>
                <button type="button" id="delete_btn" class="btn btn-primary btn-100 float-right mr-lg-3">
                  삭제
                </button>
              </div>
            </form>
          </section>
        </div>
      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer id="footer" class="sticky-footer bg-white">
      </footer>
      <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
  </div>

  <!-- End of Page Wrapper -->
  <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
  <script src="/admin/assets/js/common.js"></script>
  <script>
    const params = new URLSearchParams(window.location.search);
    const id = params.get("content_id");

    $(document).ready(function () {
      findContent();

      $('#to_board_btn').click(onClickCancleBtn);
      $('#update_btn').click(onClickUpdateBtn);
      $('#delete_btn').click(onClickDeleteBtn);
    });

    const onClickCancleBtn = () => {
      location.href = "/admin/content_main";
    };

    const onClickUpdateBtn = () => {
      location.href = `/admin/content_edit?content_id=${id}`;
    };

    //삭제 
    const onClickDeleteBtn = async () => {
      const raw = JSON.stringify({
        "content_id": [
          id,
        ]
      });

      const requestOptions = {
        method: 'POST',
        headers: myHeaders,
        body: raw,
        redirect: 'follow'
      };

      const result = window.confirm("삭제 하시겠습니까?");
      if (result) {
        try {
          const response = await fetch(`/content/delete`, requestOptions);
          const { code, message } = await response.json();
          if (code === 200) {
            window.location.href = "/admin/content_main";
          }
        } catch (err) {
          alert("에러가 발생했습니다.");
          console.log("Err", err);
        }
      };
    }

    //상세 조회
    const findContent = async () => {
      const raw = JSON.stringify({
        "content_id": id
      });

      const requestOptions = {
        method: 'GET',
        headers: myHeaders,
        body: raw,
        redirect: 'follow',
      };

      try {
        const response = await fetch(`/content/select/` + id);
        const { code, message, data } = await response.json();
        if (code === 200) {
          if (!data) {
            return;
          }
          const title = document.getElementById("title");
          const note = document.getElementById("note");
          const category = document.getElementById("category");
          const contentId = document.getElementById("content_id");
          const regDate = document.querySelector("#reg_date");
          const modDate = document.querySelector("#mod_date");
          const file = document.querySelector("#file_main_url");
          const file1 = document.querySelector("#file_1_url");
          const file2 = document.querySelector("#file_2_url");
          const file3 = document.querySelector("#file_3_url");
          const file4 = document.querySelector("#file_4_url");
          if (data[0].exposure_yn === 'Y') {
            document.querySelector('.exposure.y').checked = true;
          } else {
            document.querySelector('.exposure.n').checked = true;
          }

          title.value = data[0].title;
          note.value = data[0].note;
          category.value = categoryDecode(data[0].category);
          modDate.textContent = dayjs(data[0].mod_date).format(
            "YYYY-MM-DD HH:mm:ss"
          );
          regDate.textContent = dayjs(data[0].reg_date).format(
            "YYYY-MM-DD HH:mm:ss"
          );
          contentId.value = data[0].content_id;
          file.innerHTML = data[0].file_main_id_origin_name;
          file1.innerHTML = data[0].file_1_id_origin_name;
          file2.innerHTML = data[0].file_2_id_origin_name;
          file3.innerHTML = data[0].file_3_id_origin_name;
          file4.innerHTML = data[0].file_4_id_origin_name;
        }
      } catch (err) {
        console.log("Err:", err);
      }
    };

  </script>

  <!-- Bootstrap core JavaScript-->
  <script src="/admin/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/admin/assets/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/admin/assets/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="/admin/assets/vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="/admin/assets/vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="/admin/assets/js/demo/datatables-demo.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.7/dayjs.min.js"></script>
</body>

</html>