<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="이벤트 케이크토퍼 꽃풍선 파티 풍선" />
  <meta name="author" content="mars-sequel" />

  <title>워니토퍼 관리자 - 컨텐츠 상세</title>

  <!-- Custom fonts for this template -->
  <link href="/admin/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css" />
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet" />

  <!-- Styles for this page -->
  <link href="/admin/assets/css/sb-admin-2.min.css" rel="stylesheet" />
  <link href="/admin/assets/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" />
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

  <!-- CSS -->
  <link rel="stylesheet" href="/admin/assets/css/style.css" />

</head>

<body id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar"></ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">
        <!-- Topbar -->
        <nav id="top-bar" class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"></nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">
          <!-- Page Heading -->
          <div class="border-bottom-primary mb-4">
            <div class="main-title">
              <h1 class="mb-2 text-gray-800">컨텐츠 상세</h1>
            </div>
            <h6 class="page-adress">
              컨텐츠 관리 > 컨텐츠 관리 > 컨텐츠 상세
            </h6>
          </div>

          <!-- Page Heading -->

          <section role="main" class="content-body detail-content-body">
            <form action="/admin/source" method="post" enctype="multipart/form-data">
              <h6 class="float-right">
                <span class="star">*</span>
                는 필수 입력값
              </h6>
              <h4 class="register-sub-title">■ 컨텐츠 기본정보</h4>
              <table class="detail table table-bordered" id="datatable-ajax"
                data-url="/resources/admin/assets/ajax/ajax-datatables-sample.json">
                <tr>
                  <td width="20%" class="table-title-td">
                    카테고리<span class="star">*</span>
                  </td>
                  <td width="30%">
                    <input name="category" value="" id="category" readonly />
                  </td>
                  <td width="20%" class="table-title-td">컨텐츠코드</td>
                  <td width="30%">
                    <input name="content_id" value="" id="content_id" readonly />
                  </td>
                </tr>
                <tr>
                  <td width="20%" class="table-title-td">
                    제목<span class="star">*</span>
                  </td>
                  <td width="30%" colspan="3">
                    <input type="text" class="form-control" value="제목" readonly name="title" id="title" required />
                  </td>
                </tr>

                <tr>
                  <td width="20%" class="table-title-td">등록일</td>
                  <td width="30%" id="reg_date">2023-10-10 12:00:00</td>
                  <td width="20%" class="table-title-td">수정일</td>
                  <td width="30%" id="mod_date">2023-10-10 12:00:00</td>
                </tr>
              </table>

              <h4 class="register-sub-title">■ 이미지 등록</h4>
              <table class="detail table table-bordered" id="datatable-ajax"
                data-url="/resources/admin/assets/ajax/ajax-datatables-sample.json">
                <tr>
                  <td width="20%" class="table-title-td">
                    대표 이미지<span class="star">*</span>
                    <div>(최대 1개)</div>
                  </td>
                  <td width="40%" colspan="2" id="file_main_url">00기업_풍선장식_01.jpg</td>
                </tr>
                <tr>
                  <td width="20%" rowspan="4" class="table-title-td">
                    추가 이미지
                    <div>(최대 4개)</div>
                  </td>
                  <td width="5%" style="text-align: center">1</td>
                  <td width="95%" id="file_1_url">00기업_풍선장식_02.jpg</td>
                </tr>
                <tr>
                  <td width="5%" style="text-align: center">2</td>
                  <td width="95%" id="file_2_url">00기업_풍선장식_03.jpg</td>
                </tr>
                <tr>
                  <td width="5%" style="text-align: center">3</td>
                  <td width="95%" id="file_3_url">00기업_풍선장식_04.jpg</td>
                </tr>
                <tr>
                  <td width="5%" style="text-align: center">4</td>
                  <td width="95%" id="file_4_url">00기업_풍선장식_05.jpg</td>
                </tr>
              </table>

              <h4 class="register-sub-title">■ 기타 정보</h4>
              <table class="detail table table-bordered" id="datatable-ajax"
                data-url="/resources/admin/assets/ajax/ajax-datatables-sample.json">
                <tr>
                  <td width="20%" class="table-title-td">비고</td>
                  <td width="80%" colspan="2">
                    <textarea class="form-control" value="비고입니다." readonly id="note"></textarea>
                  </td>
                </tr>
              </table>

              <div class="col-md-3 admin-btn-tool tool-btn ib detail-bottom-btn"></div>

              <div class="admin-btn-tool tool-btn ib detail-bottom-btn">
                <button type="button" class="btn btn-primary btn-100" onClick="onClickCancleBtn()">
                  목록
                </button>

                <button type="button" class="btn btn-primary btn-100 float-right" onClick="onClickUpdateBtn()">
                  수정
                </button>
                <button type="button" class="btn btn-primary btn-100 float-right mr-lg-3" onClick="onClickDeleteBtn()">
                  삭제
                </button>
              </div>
            </form>
          </section>
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2020</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
  </div>

  <!-- End of Page Wrapper -->
  <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
  <script src="/admin/assets/js/common.js"></script>
  <script>
    let member_id = "admin";
    const params = new URLSearchParams(window.location.search);
    const id = params.get("content_id");

    const onClickDeleteBtn = async () => {
      const body = {
        content_id: document.getElementById("content_id").value,
        member_id,
      };
      const result = window.confirm("삭제 하시겠습니까?");
      if (result) {
        const response = fetch(`/content/delete`, {
          headers: {
            "Content-Type": "application/json",
          },
          method: "post",
          body: JSON.stringify(body),
        });

        const { code, message } = await response.json();
        if (code === 200) {
          window.location.href = "/admin/content_main";

          return;
        }
        alert(message);
      }
    };

    $(document).ready(function () {
      $("#dataTable").DataTable();
      findContent();
    });

    const findContent = async () => {

      const raw = JSON.stringify({
        "content_id": id
      });

      const requestOptions = {
        method: 'GET',
        headers: myHeaders,
        body: raw,
        redirect: 'follow'
      };

      try {
        const response = await fetch(`/content/select/` + id);
        const { code, message, data } = await response.json();
        if (code === 200) {
          if (!data) {
            return;
          }


          console.log(data);

          member_id = data[0].member_id;
          const title = document.getElementById("title");
          const note = document.getElementById("note");
          const category = document.getElementById("category");
          const contentId = document.getElementById("content_id");
          const regDate = document.querySelector("#reg_date");
          const modDate = document.querySelector("#mod_date");
          const file = document.querySelector("#file_main_url");
          const file1 = document.querySelector("#file_1_url");
          const file2 = document.querySelector("#file_2_url");
          const file3 = document.querySelector("#file_3_url");
          const file4 = document.querySelector("#file_4_url");
          
          title.value = data[0].title;
          note.value = data[0].note;
          let cate ="";
          switch (data[0].category) {
            case 1:
             cate="풍선 장식"
              break;
            case 2:
            cate="토퍼"
              break;
            case 3:
            cate="삐에로/페이스페인팅"
             break;
            case 4:
            cate="원데이클래스"
            break;
            default:
              console.log(data.file_id);
          }

          category.value = cate;
          modDate.textContent = dayjs(data[0].mod_date).format(
            "YYYY-MM-DD HH:mm:ss"
          );
          regDate.textContent = dayjs(data[0].reg_date).format(
            "YYYY-MM-DD HH:mm:ss"
          );
          contentId.value = data[0].content_id;
          file.innerHTML = data[0].file_main_id_origin_name;
          file1.innerHTML = data[0].file_1_id_origin_name;
          file2.innerHTML = data[0].file_2_id_origin_name;
          file3.innerHTML = data[0].file_3_id_origin_name;
          file4.innerHTML = data[0].file_4_id_origin_name;

        }

      } catch (err) {
        console.log("Err:", err);

      }

    };

    const onClickCancleBtn = () => {
      location.href = "/admin/content_main";
    };

    const onClickUpdateBtn = () => {
      location.href = `/admin/content_edit?content_id=${id}`;
    };
  </script>

  <!-- Bootstrap core JavaScript-->
  <script src="/admin/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/admin/assets/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/admin/assets/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="/admin/assets/vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="/admin/assets/vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="/admin/assets/js/demo/datatables-demo.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.7/dayjs.min.js"></script>
</body>

</html>